<div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Instructions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>Task</h5>
                <ul>
                    <li>
                        Identify all decimal values on the photograph that may indicate a <b>depth, distance, or
                        length</b>. <br>
                        <b>DO NOT TAG</b> dates, times, and numbers mixed with letters.
                    </li>
                    <li>Numbers may be located:</li>
                    <ul>
                        <li>On the tray</li>
                        <li>On the rock itself</li>
                        <li>On blocks between rocks</li>
                    </ul>

                    <li>
                        <a href="https://s3.amazonaws.com/gttc2/mturk/resources/samples.html"
                           target="_blank">
                            Click here to view samples!
                        </a>
                    </li>
                </ul>

                <h5>Steps</h5>
                <ol>
                    <li>Identify an acceptable decimal value.</li>
                    <li>Move the mouse cursor to the center of the number.</li>
                    <li>Double-click with the left mouse button.</li>
                    <li>
                        Enter the decimal value <b>INCLUDING</b> trailing zeroes. <br>
                        For example, if the number reads 38.20, enter 38.20 and <b>not</b> 38.2.
                    </li>
                    <li>Repeat for all acceptable numbers on the photograph.</li>
                </ol>

                <p>
                    <i> Only click "SUBMIT HIT" once <b>all</b> acceptable numbers have been marked. </i>
                </p>

                <hr>

                <h5>Navigation</h5>
                <ul>
                    <li>Click-and-hold while moving the mouse to pan/scroll the photograph.</li>
                    <li>Use the mouse wheel to zoom-in and zoom-out</li>
                    <li>Double-click with the left mouse button to tag a number.</li>
                </ul>
            </div>
        </div>
    </div>
</div>